body {
  font-family: "Lato", sans-serif;
}

/* Form Validation */

.liveValidateMessage {
  position: absolute;
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 16px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  width: 100%;
  bottom: -20px;
}

.liveValidateMessage--visible {
  opacity: 1;
}

.liveValidateMessage-enter {
  opacity: 0;
}

.liveValidateMessage-enter-active {
  opacity: 1;
  transition: 0.25s opacity ease;
}

.liveValidateMessage-exit {
  opacity: 1;
}

.liveValidateMessage-exit-active {
  opacity: 0;
  transition: 0.25s opacity ease;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
